/*
* site wide style
* note: there are a lot of !important found -- this is not laziness
* but rather a way to force my own style instead of the limited bootstrap options
*/

//body-centric variables
$background-gradient: #522cdb, #9a4cc7;
$text-color: white;
$alt-text-color: #9a4cc7;
$transition-time: 0.2s;

//logo variables
$logo-size: 5rem;
$logo-error-size: 15rem;
$opacity-transition: 0.85;

//navigation variables
$border-thiccness: 3px;
$border-color: white;
$nav-text-size: 2rem;
$nav-hamburger-size: 3rem;
$nav-padding-left-right: 30px;
$nav-padding-top-bottom: 10px;
$nav-margin-left-right: 20px;
$nav-margin-top-bottom: 20px;
$logo-margin-left: 40px;
$logo-margin-right: 40px;

//content variables
$content-margin-left-right: 1rem;
$content-margin-bottom: 2rem;
$content-header-size: 3rem;
$content-content-size: 1.5rem;
$footer-offset: 10rem;

//footer variables
$footer-height: 10rem;
$footer-icon-size: 3rem;
$footer-margin-left-right: 2vw;
$footer-padding: 20px;

//contact variables
$contact-icon-size: 4rem;
$contact-padding-left-right: 30px;
$contact-padding-top-bottom: 30px;

/**
* standard html style
*/
html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

/** 
* standard body style
*/
body {
	position: relative; //to make the footer work no matter the screen size
	min-height: 100vh; //force the gradient to cover the entire page and not just where the content ends
	background: linear-gradient(135deg, $background-gradient) !important; //force custom colors over bootstrap
	color: $text-color !important; //force over font awesome
	line-height: normal !important; //make the line height standard
}

/** 
* standard footer style
*/
footer {
	position: absolute; //bring the footer to the bottom of the page
	bottom: 0;
	width: 100%; //make the width of the entire page
	height: $footer-height; //the height of the footer
}

/** 
* adjust how links look by default
*/
a {
	&:link {
		color: $text-color;
		text-decoration: none;
	}

	&:hover {
		color: $text-color;
		text-decoration: none;
	}

	&:visited {
		color: $text-color;
		text-decoration: none;
	}

	&:active {
		color: $text-color;
		text-decoration: none;
	}
}

/** 
* navbar style
*/
.navbar { 
	//make the text for the navigation menu larger
	font-size: $nav-text-size;
}

/**
* style for the naviation bubbles
*/
.nav-bubble { 
	//adjust the links on the navigation menu
	box-sizing: content-box;
	
	//make it so that the bubble is always the same size, mobile or not
	display: flex !important;
	justify-content: center;
	align-self: center;

	//make it so that's there is some space between the buttons when clicking
	padding: $nav-padding-top-bottom $nav-padding-left-right $nav-padding-top-bottom $nav-padding-left-right !important;
	margin: $nav-margin-top-bottom $nav-margin-left-right $nav-margin-top-bottom $nav-margin-left-right !important;
	
	//define the default state of the nav buttons
	border: $border-thiccness solid $border-color;
	border-radius: 100px 100px; //pill buttons
	color: $text-color !important;
	text-align: center;

	//define a transition between hovering and not hovering
	transition: all $transition-time ease;	

	&:hover { //change colors on hover
		transition: all $transition-time ease;
		background-color: $border-color;
		color: $alt-text-color !important;
	}
}

/** 
* hamburger menu that appears when the screen is narrow style
*/
.navbar-toggler {
	//make the spacing consistent with the logo on the left
	margin-right: $logo-margin-left;

	//make a new border in a similar style to the buttons
	border-color: $border-color !important;
	border: $border-thiccness solid $border-color !important;
	border-radius: 100px 100px !important;
	padding: $nav-padding-top-bottom $nav-padding-left-right $nav-padding-top-bottom $nav-padding-left-right !important;
	
	//make the color match the buttons (and make it larger)
	color: $text-color !important;
	font-size: $nav-hamburger-size !important;

	//define a transition between hovering and not hovering
	transition: all $transition-time ease;	

	&:hover { //change colors on hover
		transition: all $transition-time ease;
		background-color: $border-color;
		color: $alt-text-color !important;
	}

	&:focus {
		box-shadow: none !important; //overwrite bootstrap 5 with nothing
	}
}

/** 
* make the flex direction of a div column
*/
.direction-col {
	flex-direction: column;
}

/** 
* make the container that holds the content into a visible box
*/
.content-container { 
	border-color: $border-color;
	border: $border-thiccness solid $border-color;
	border-radius: 10px;
	margin: 0px $content-margin-left-right $content-margin-bottom $content-margin-left-right;
}

/** 
* make the header text of the boxes larger
*/
.header {
	font-size: $content-header-size;
	padding-bottom: 5px;
	border-bottom: $border-thiccness solid $border-color;
}

/** 
* the size of the text in the boxes on the main page
*/
.content {
	font-size: $content-content-size;
}

/** 
* this is to make the footer look normal on a phone screen
*/
.footer-offset {
	padding-bottom: $footer-offset;
}

/** 
* the definitions that make up each bubble
*/
.footer-nav {
	//place the nav bubble in the exact position we want that is the size of the parent .footer-bubble div
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;

	//make the font awesome icons look like the other buttons!
	color: $text-color !important;
	font-size: $footer-icon-size !important;

	//border shenanigans
	border-color: $border-color !important;
	border: $border-thiccness solid $border-color !important;
	border-radius: 50%;

	//define a transition between hovering and not hovering
	transition: all $transition-time ease;

	&:hover { //change colors on hover
		transition: all $transition-time ease;
		background-color: $border-color;
		color: $alt-text-color !important;
	}
}

/** 
* the boxes that the footer bubbles live in
*/
.footer-bubble{
	//create a div around each nav bubble that is the exact final size we want
	display: flex;
	align-self: center;
	width: $footer-icon-size*2;
	height: $footer-icon-size*2;
}

/** 
* the boxes that the contact bubbles live in
*/
.contact-bubble{
	//create a div around each nav bubble that is the exact final size we want
	display: flex;
	align-self: center;
	width: $contact-icon-size*2;
	height: $contact-icon-size*2;
}

/** 
* the definitions that make up each bubble
*/
.contact-nav {
	//center horizontally and vertically in the parent div and be the size of the parent div
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;

	//make the font awesome icons look like the other buttons!
	color: $text-color !important;
	font-size: $contact-icon-size !important;

	//border shenanigans
	border-color: $border-color !important;
	border: $border-thiccness solid $border-color !important;
	border-radius: 100%;

	//define a transition between hovering and not hovering
	transition: all $transition-time ease;	

	&:hover { //change colors on hover
		transition: all $transition-time ease;
		background-color: $border-color;
		color: $alt-text-color !important;
	}
}

/** 
* this is for the logo found in the top left
*/
#logo {
	box-sizing: content-box;
	
	//make the logo a $logo-size by $logo-size circle
	height: $logo-size;
	width: $logo-size;

	margin: 0px $logo-margin-right 0px $logo-margin-left !important;
	border-color: $border-color !important;
	border: $border-thiccness solid $border-color !important;
	border-radius: 100%;

	//default opacity of 1
	opacity: 1;

	//define a transition between hovering and not hovering
	transition: all $transition-time ease;

	&:hover { //instead of changing the color, change the opacity on hover
		opacity: $opacity-transition;
	}
}

/** 
* this is for the error page
*/
#error-logo {
	//make the logo a $logo-size by $logo-size circle
	height: $logo-error-size;
	width: $logo-error-size;

	margin: 0px $logo-margin-right 0px $logo-margin-left !important;
	border-color: $border-color !important;
	border: $border-thiccness solid $border-color !important;
	border-radius: 100%;

	//default opacity of 1
	opacity: 1;

	//define a transition between hovering and not hovering
	transition: all $transition-time ease;

	&:hover { //instead of changing the color, change the opacity on hover
		opacity: $opacity-transition;
	}
}