/**variables*/
/*Site wide font*/
$font-stack: 'Poppins', sans-serif;

/*light blue*/
$background-color: #85c1e9;

//old grey color
//#8e8e8e;

/*off white for eyes*/
$text-color: #efefef;

/*navy blue*/
$fa-dark: #1A5276;

//old dark grey color
//#3d3d3d;

/*Font sizes*/
$header-size: 5rem;

$body-font-size: 2rem;

$under-button-size: 25px;

$smaller-text: 20px;//2rem;

$button-size: 40px;

$button-size-chevron: 80px;

//sets basic font size, font, text color, and background color
body
{
	font-family: $font-stack;
	font-size: $body-font-size;
	background-color: $background-color;
	color: $text-color;
	text-align: center;
}

//style for any given link
a
{
	&:link
	{
		color: $text-color;
	}

	&:hover
	{
		color: $text-color;
	}

	&:visited
	{
		color: $text-color;
	}

	&:active
	{
		color: $text-color;
	}
}

//copyright text size
.copyright
{
	font-size: $smaller-text;
}

//header text size and style
.header
{
  font-size: $header-size;
  font-weight: bold;
  font-style: italic;
}

//subtext for icons spacing and sizing
.subText
{
	font-size: $under-button-size;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%
}

//smaller header text size and style
.reducedHeader
{
	font-size: $body-font-size;
	font-weight: bold;
}

//flex box with space-around instead of center
.rowSpaceAround
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

//flex box with space-between instead of center
.rowSpaceBetween
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

//flex box with the center
.rowCenter
{ 
	display: flex;
	justify-content: center;  
}

.gridTemplate
{
	//sets the display in a grid
	display: grid;
	//sets the grid size
	grid-template-columns: repeat(4, minmax(100px, 1fr));
	//grid-column-gap: 40vh;
	//centers the items
	justify-content: center;
	justify-items: center;

	//makes the width of the div smaller and centers the div
	//width: 75vh;
	//margin: 0 auto;
}

.gridContact
{
	grid-template-columns: repeat(5, minmax(100px, 1fr));
}

//text to lay against pictures
.columnContainer
{
	text-align: left;
	margin-left: 50px;
}

//Puts a seperation margin for a bottom button
.footer
{
	margin-top: 10vh;
}

//Puts a seperation margin for a bottom button
.smallFooter
{
	margin-top: 10vh;
}

//creates the base for a FA icon
.button
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	//base color of FA icon and border
	color: $text-color;
	font-size: $button-size;
	border: 3px solid $text-color;
	width: 3*$button-size;//100px;
	height: 3*$button-size;//100px;
	border-radius: 50%;
	margin: 20px 20px 20px 20px;
	transition: all 0.2s cubic-bezier(.25,.1,.25,1);
	cursor: pointer;
	
}

//Highlights fa icon when moused over
.highlight
{
	background-color: $background-color;
  
	&:hover
	{
		/* makes a drop shadow on the circle when highlighted by the mouse */
		/* also adjusts border color */
		box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		border-color: $fa-dark;
	}

	&:hover i 
	{
		/*changes FA icon color*/
		color: $fa-dark;
	}
}

//chevrons for education tab
.downArrow
{
	color: $text-color;
	font-size: $header-size;
	margin-top: 30px;
	margin-bottom: 30px;
}

//moves all items to the left
#flexStart
{
	justify-content: flex-start;
}

//moves the bottom button to the middle on mobile webpages
#middleFix
{
	//display: block;
	//margin-left: 100vh;
}

/**These ids are for tailoring each specific image*/
//who am i page
#headshot
{
	border: solid 5px $text-color;	
	width: 750px;
	height: auto;
}

//experience page
#schoolLogos
{
	padding-top: 10vh;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

//education
#lakeside
{
	border: solid 5px $text-color;
	width: 200px;
	height: auto;
}

//education
#emory
{
	border: solid 5px $text-color;
	width: 400px;
	height: auto;
}

//education
#gt
{
	border: solid 5px $text-color;
	width: 400px;
	height: auto;
}

//whoami
#headshotMargin
{
	margin-top: 100px;
	margin-left: 75px;
}

//Sets custom font size for bottom button
#faButton
{
	//font-size: 4rem;
	font-size: $button-size-chevron;
}

/**Animations for changing pages on the site*/
@keyframes fadeInUp 
{
	0% 
	{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% 
	{
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeIn 
{
	0% 
	{
		opacity: 0;
	}

	100% 
	{
		opacity: 1;
	}
}

@keyframes fadeInRight 
{
	0% 
	{
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% 
	{
		opacity: 1;
		transform: none;
	}
}

//CSS Page Transitions
.m-scene 
{
	/** Basic styles for an animated element */
	.scene_element 
	{
		animation-duration: 0.3s;
		transition-timing-function: ease-in;
		animation-fill-mode: both;
	}

	/** An element that fades in */
	.scene_element--fadein 
	{
		animation-name: fadeIn;
	}

	/** An element that fades in and slides up */
	.scene_element--fadeinup 
	{
		animation-name: fadeInUp;
	}

	/** An element that fades in and slides from the right */
	.scene_element--fadeinright 
	{
		animation-name: fadeInRight;
	}

	/** Reverse "exit" animations */
	&.is-exiting 
	{
		.scene_element 
		{
		animation-direction: alternate-reverse;
		}
	}
}