/**variables*/
/*Site wide font*/
$font-stack: 'Poppins', sans-serif;

/*Color: light blue
This is the color of the background for all of the pages
*/
$background-color: #474a4a;
//#474a4a -- dark grey
//#85c1e9 -- light blue

/*Color: navy blue
This is the color of the buttons as you hover over them
*/
$fa-dark: #848a8a;
//#848a8a -- middle ground grey for when the background is a darker grey
//#48cfd9 -- light blue for when the background is dark
//#1A5276 -- navy blue for when the background is light

//old grey color
//#8e8e8e;

/*off white for eyes*/
$text-color: #efefef;

//old dark grey color
//#3d3d3d;

/*Font sizes*/
$header-size: 5rem;

$body-font-size: 2rem;

$under-button-size: 25px;

$smaller-text: 20px;//2rem;

$button-size: 40px;

$button-size-chevron: 80px;

//sets basic font size, font, text color, and background color
body{
	background: url("images\\white-diamond-dark.png") repeat;
	font-family: $font-stack;
	font-size: $body-font-size;
	background-color: $background-color;
	color: $text-color;
	text-align: center;
}

//style for any given link
a{
	&:link{
		color: $text-color;
	}

	&:hover{
		color: $text-color;
	}

	&:visited{
		color: $text-color;
	}

	&:active{
		color: $text-color;
	}
}

//copyright text size
.copyright{
	font-size: $smaller-text;
}

//header text size and style
.header{
  font-size: $header-size;
  font-weight: bold;
  font-style: italic;
}

//subtext for icons spacing and sizing
.subText{
	font-size: $under-button-size;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%
}

//smaller header text size and style
.reducedHeader{
	font-size: $body-font-size;
	font-weight: bold;
}

//flex box with space-around instead of center
.rowSpaceAround{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

//flex box with space-between instead of center
.rowSpaceBetween{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

//flex box with the center
.rowCenter{ 
	text-align: center;
	display: flex;
	justify-content: center;  
	align-items: center;
}

//div container with two columns
.colContainer{
	display: grid;
	text-align: left;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
}

//div container with five columns
.colContainer5{
	
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	justify-content: space-evenly;
}

//div container with three columns
.colContainer3{
	
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-evenly;
}

//experience page
.schoolLogos{
	padding-right: 10rem;
	padding-left: 10rem;
	//display: flex;
	//flex-direction: column;
	//align-items: center;
}

//Sets the display to be in a grid format and then centers items horizontally
.gridTemplate{
	//sets the display in a grid
	display: grid;
	justify-content: center;
	justify-items: center;

	//makes the width of the div smaller and centers the div
	//width: 75vh;
	//margin: 0 auto;
}

.gridIndex{
	grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.gridContact{
	grid-template-columns: repeat(4, minmax(100px, 1fr));
}

//Puts a seperation margin for a bottom button
.footer{
	margin-top: 10vh;
}

//Puts a seperation margin for a bottom button
.smallFooter{
	margin-top: 10vh;
}

//creates the base for a FA icon
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	//base color of FA icon and border
	color: $text-color;
	font-size: $button-size;
	border: 3px solid $text-color;
	width: 3*$button-size;//100px;
	height: 3*$button-size;//100px;
	border-radius: 50%;
	margin: 20px 20px 20px 20px;
	transition: all 0.2s cubic-bezier(.25,.1,.25,1);
	cursor: pointer;
	
}

//Highlights fa icon when moused over
.highlight{
	background-color: $background-color;
  
	&:hover{
		/* makes a drop shadow on the circle when highlighted by the mouse */
		/* also adjusts border color */
		box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		border-color: $fa-dark;
	}

	&:hover i {
		/*changes FA icon color*/
		color: $fa-dark;
	}
}

//chevrons for education tab
.downArrow{
	color: $text-color;
	font-size: $header-size;
	margin-top: 30px;
	margin-bottom: 30px;
}

//makes an indent for the unordered lists in the community page
.indent{
	padding-left: 100px;
}

//makes it so that the webpage doesn't go from far end to far end
.content{
	margin-left: 25vmin;
	margin-right: 25vmin;
	//border: 20vh
}

//moves all items to the left
#flexStart{
	justify-content: flex-start;
}

/**These ids are for tailoring each specific image*/
//who am i page
#headshot{
	border: solid 5px $text-color;	
	width: 350px;
	height: auto;
}

//education
#lakeside{
	border: solid 5px $text-color;
	width: 200px;
	height: auto;
}

//education
#emory{
	border: solid 5px $text-color;
	width: 400px;
	height: auto;
	background-color: rgb(255, 255, 255);
}

//education
#gt{
	border: solid 5px $text-color;
	width: 400px;
	height: auto;
	background-color: rgb(255, 255, 255);
}

//whoami
#headshotMargin{
	margin-top: 100px;
	margin-left: 75px;
}

//Sets custom font size for bottom button
#faButton{
	//font-size: 4rem;
	font-size: $button-size-chevron;
}

#imageText{
	display:grid;
	padding-left: 5rem;
	padding-right: 5rem;
}

/**Animations for changing pages on the site*/
@keyframes fadeInUp{
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeIn{
	0% {
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@keyframes fadeInRight{
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

//CSS Page Transitions
.m-scene{
	/** Basic styles for an animated element */
	.scene_element {
		animation-duration: 0.3s;
		transition-timing-function: ease-in;
		animation-fill-mode: both;
	}

	/** An element that fades in */
	.scene_element--fadein {
		animation-name: fadeIn;
	}

	/** An element that fades in and slides up */
	.scene_element--fadeinup {
		animation-name: fadeInUp;
	}

	/** An element that fades in and slides from the right */
	.scene_element--fadeinright {
		animation-name: fadeInRight;
	}

	/** Reverse "exit" animations */
	&.is-exiting {
		.scene_element 
		{
		animation-direction: alternate-reverse;
		}
	}

	/** This is all created for my sisters hs graduation with a hidden webpage */
	$fadetime: 6s;
	$fadetimelong: 10s;
	$fadetimesuperlong: 15s;
	.fade-in {
		animation: fadeIn ease $fadetime;
		-webkit-animation: fadeIn ease $fadetime;
		-moz-animation: fadeIn ease $fadetime;
		-o-animation: fadeIn ease $fadetime;
		-ms-animation: fadeIn ease $fadetime;
	}

	.fade-in-long {
		animation: fadeInLong ease $fadetimelong;
		-webkit-animation: fadeInLong ease $fadetimelong;
		-moz-animation: fadeIn ease $fadetimelong;
		-o-animation: fadeIn ease $fadetimelong;
		-ms-animation: fadeIn ease $fadetimelong;
	}
	.fade-in-super-long {
		animation: fadeInSuperLong ease $fadetimesuperlong;
		-webkit-animation: fadeInSuperLong ease $fadetimesuperlong;
		-moz-animation: fadeIn ease $fadetimesuperlong;
		-o-animation: fadeIn ease $fadetimesuperlong;
		-ms-animation: fadeIn ease $fadetimesuperlong;
	}
	
	@keyframes fadeIn {
		0% {
			opacity:0;
		}
		
		100% {
			opacity:1;
		}
	}

	@keyframes fadeInLong {
		0% {
			opacity:0;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity:1;
		}
	}

	@keyframes fadeInSuperLong {
		0% {
			opacity:0;
		}

		75% {
			opacity: 0;
		}

		100% {
			opacity:1;
		}
	}

	@-moz-keyframes fadeIn {
		0% {
			opacity:0;
		}
		100% {
			opacity:1;
		}
	}

	@-webkit-keyframes fadeIn {
		0% {
			opacity:0;
		}
		100% {
		opacity:1;
		}
	}

	@-o-keyframes fadeIn {
		0% {
			opacity:0;
		}
		100% {
			opacity:1;
		}
	}

	@-ms-keyframes fadeIn {
		0% {
			opacity:0;
		}
		100% {
			opacity:1;
		}
	}

	.threeimages {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 100%;
		width: 100%
	}
}