/**variables*/
$font-stack: 'Poppins', sans-serif;

/*light grey*/
$background-grey: #8e8e8e;

/*off white for eyes*/
$text-color: #efefef;

/*dark grey*/
$fa-dark: #3d3d3d;

body
{
	font-family: $font-stack;
	font-size: 3vh;
	background-color: $background-grey;
	color: $text-color;
	text-align: center;
}

a
{
	&:link
	{
		color: $text-color;
	}

	&:hover
	{
		color: $text-color;
	}

	&:visited
	{
		color: $text-color;
	}

	&:active
	{
		color: $text-color;
	}
}

.header
{
  font-size: 8vh;
  font-weight: bold;
  font-style: italic;
}

.reducedHeader
{
	font-size: 5vh;
	font-weight: bold;
}

.rowContainer
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.rowCenter
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.columnContainer
{
	text-align: left;
	margin-left: 5vh;
}

.faContainer
{ 
	display: flex;
	justify-content: center;  
}

.footer
{
  position: absolute;
  bottom: 5vh;
}

#headshot
{
	border: inset 5px;	
	width: 80vh;
	height: auto;
}

#schoolLogos
{
	padding-top: 10vh;
	//display: flex;
	flex-direction: column;
	//justify-content: center;
}

#lakeside
{
	border: inset 5px;
	width: 30vh;
	height: auto;
}

#emory
{
	border: inset 5px;
	width: 30vh;
	height: auto;
}

#gt
{
	border: inset 5px;
	width: 60vh;
	height: auto;
}

#education
{
	margin-top: 10vh;
}

#contact
{
	margin-top: 10vh;
}

/*font awesome icons are hella dope!*/
.faIcon
{
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: 10vh;
}

.footerButton
{ 
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	/*base color of FA icon and border*/
	color: $text-color;
	border: 3px solid $text-color;
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	margin: 20px 20px 20px 20px;
	transition: all 0.2s cubic-bezier(.25,.1,.25,1);
	cursor: pointer;
}

.button
{
	/*base color of FA icon and border*/
	color: $text-color;
	border: 3px solid $text-color;
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	margin: 20px 20px 20px 20px;
	transition: all 0.2s cubic-bezier(.25,.1,.25,1);
	cursor: pointer;
}

.highlight
{
	background-color: $background-grey;
  
	&:hover
	{
		/* makes a drop shadow on the circle when highlighted by the mouse */
		/* also adjusts border color */
		box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		border-color: $fa-dark;
	}

	&:hover i 
	{
		/*changes FA icon color*/
		color: $fa-dark;
	}
}

.copyright
{
	font-size: 2vh;
}

@keyframes fadeInUp 
{
	0% 
	{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% 
	{
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeIn 
{
  0% 
  {
    opacity: 0;
  }

  100% 
  {
    opacity: 1;
  }
}

@keyframes fadeInRight 
{
  0% 
  {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% 
  {
    opacity: 1;
    transform: none;
  }
}

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene 
{
  /** Basic styles for an animated element */
  .scene_element 
  {
    animation-duration: 0.3s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }

  /** An element that fades in */
  .scene_element--fadein 
  {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup 
  {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright 
  {
    animation-name: fadeInRight;
  }

  /** Reverse "exit" animations */
  &.is-exiting 
  {
      .scene_element 
      {
        animation-direction: alternate-reverse;
      }
  }
}