/**variables*/
/*Site wide font*/
/*Color: light blue
This is the color of the background for all of the pages
*/
/*Color: navy blue
This is the color of the buttons as you hover over them
*/
/*off white for eyes*/
/*Font sizes*/
body {
  background: url("images\\white-diamond-dark.png") repeat;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  background-color: #474a4a;
  color: #efefef;
  text-align: center;
}

a:link {
  color: #efefef;
}

a:hover {
  color: #efefef;
}

a:visited {
  color: #efefef;
}

a:active {
  color: #efefef;
}

.copyright {
  font-size: 20px;
}

.header {
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
}

.subText {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.reducedHeader {
  font-size: 2rem;
  font-weight: bold;
}

.rowSpaceAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rowSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowCenter {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colContainer {
  display: grid;
  text-align: left;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.colContainer5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
}

.colContainer3 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

.schoolLogos {
  padding-right: 10rem;
  padding-left: 10rem;
}

.gridTemplate {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.gridIndex {
  grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.gridContact {
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.footer {
  margin-top: 10vh;
}

.smallFooter {
  margin-top: 10vh;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #efefef;
  font-size: 40px;
  border: 3px solid #efefef;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px 20px 20px 20px;
  transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  cursor: pointer;
}

.highlight {
  background-color: #474a4a;
}

.highlight:hover {
  /* makes a drop shadow on the circle when highlighted by the mouse */
  /* also adjusts border color */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-color: #848a8a;
}

.highlight:hover i {
  /*changes FA icon color*/
  color: #848a8a;
}

.downArrow {
  color: #efefef;
  font-size: 5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.indent {
  padding-left: 100px;
}

.content {
  margin-left: 25vmin;
  margin-right: 25vmin;
}

#flexStart {
  justify-content: flex-start;
}

/**These ids are for tailoring each specific image*/
#headshot {
  border: solid 5px #efefef;
  width: 350px;
  height: auto;
}

#lakeside {
  border: solid 5px #efefef;
  width: 200px;
  height: auto;
}

#emory {
  border: solid 5px #efefef;
  width: 400px;
  height: auto;
  background-color: white;
}

#gt {
  border: solid 5px #efefef;
  width: 400px;
  height: auto;
  background-color: white;
}

#headshotMargin {
  margin-top: 100px;
  margin-left: 75px;
}

#faButton {
  font-size: 80px;
}

#imageText {
  display: grid;
  padding-left: 5rem;
  padding-right: 5rem;
}

/**Animations for changing pages on the site*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.m-scene {
  /** Basic styles for an animated element */
  /** An element that fades in */
  /** An element that fades in and slides up */
  /** An element that fades in and slides from the right */
  /** Reverse "exit" animations */
  /** This is all created for my sisters hs graduation with a hidden webpage */
}

.m-scene .scene_element {
  animation-duration: 0.3s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}

.m-scene .scene_element--fadeinup {
  animation-name: fadeInUp;
}

.m-scene .scene_element--fadeinright {
  animation-name: fadeInRight;
}

.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}

.m-scene .fade-in {
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  -moz-animation: fadeIn ease 6s;
  -o-animation: fadeIn ease 6s;
  -ms-animation: fadeIn ease 6s;
}

.m-scene .fade-in-long {
  animation: fadeInLong ease 10s;
  -webkit-animation: fadeInLong ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.m-scene .fade-in-super-long {
  animation: fadeInSuperLong ease 15s;
  -webkit-animation: fadeInSuperLong ease 15s;
  -moz-animation: fadeIn ease 15s;
  -o-animation: fadeIn ease 15s;
  -ms-animation: fadeIn ease 15s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLong {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInSuperLong {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  .m-scene 0% {
    opacity: 0;
  }
  .m-scene 100% {
    opacity: 1;
  }
}

.m-scene .threeimages {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
